<div class="hero">
  <br />
  <br />
  <br />
  <div class="frosty col-10 offset-1 text-center"><br />
    <h1>Learn to code and create your own application</h1><br />
    <h2>Technically skills taught from the Pros.</h2><br />
    <%= link_to 'learn More', courses_path, class: 'btn btn-success' %>
    <br />
    <br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Coding Courses</h3>
    <br />
    <p>Choose from a range of course taught by Professional Programmers.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn the Skills</h3>
    <br />
    <p>Enroll to access training and videos tht will help you become a Programmer.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <p>Intereact with individuals. Share and learn what you know with like-minded people.</p>
  </div>
</div>